* {
  box-sizing: border-box;
}

#root{
  height: 100vh;
}


html,
body {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: "Segoe UI";
}

.container {
  margin: 1rem;
  text-align: center;
}

nav {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.site-title {
  font-size: 2rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: .25rem;
}

#centralDisplay{
  display: flex;
  align-self: flex-start;
}#infoAndComments{
  display: flex;
  align-self: flex-start;
}