.sideBar{
    background-color: #454950;
    font-size: large;
    z-index: 1;
}

.menu{
    background-color: #454950;
}


.subMenuItem{
    background-color: #5b606a;
}
.menuFiltro{
    background-color: #5b606a;
}

