.sideBar{
    background-color: #000000;
    font-size: large;
    width: 50vw;
}

.menu{
    background-color: #454950;
}

.subMenuItem{
    background-color: #5b606a;
}

.menuItem:hover{
    background-color: #335B8C !important;
        color: white !important;
        border-radius: 8px !important;
        font-weight: bold !important;
}

