.sideBar{
    background-color: #454950;
}

.menu{
    background-color: #454950;
}

.menuItem{
    background-color: #5e6166;
    width: 100%;
}

.subMenu{
    background-color: #454950;
    width: 100%;
}