.header{
    height: 12%;
}

.icono{
    width: 3em;
    height: 3em;
    border-radius: 3em;
}
.navBar{
    background-color: #454950;
    height: 100%;
    padding: 0.5em;
}

.navLogin{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

.navProfile{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    height: 100%;
}

.profileImage{
    height: 100%;
    width: 100%;
    border-radius: 40em;
}

.profileName{
    font-size: 1.3em;
}