.sideList{
    height: 100%;
}

.sideComponent{
    margin: 0.5em;
    padding: 0.5em;
    padding-bottom: 1em;
    border-style: groove;
    border-radius: 5%;
    border-color: #4285F4;
    background-color: rgb(255, 255, 255);
    width: 24.5em;
}

.pointHeader{
    display: flex;
    flex-direction: row;
    margin-left: 0.5em;
}

.name{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: large;
    font-weight: bold;
}

.comboAndImage{
    margin-left: 1em;
    display: flex;
    flex-direction: row;
    gap: 2em;
    height: 75%;
}

.comboAndImage img{
    width: 70px;
    height: 70px;
    object-fit: contain;
}

.comboAndImage select{
    font-weight: bold;
    border-radius: 10%;
}

.comboAndImage button{
    font-weight: bold;
    border-radius: 25%;
    background-color: rgb(9, 248, 21);

}


/* Scroll */
.ScrollAreaRoot {
    width: 30%;
    overflow: visible;
    --scrollbar-size: 10px;
}
  

.ScrollAreaViewport {
    width: 100%;
    height: 100%;
}
  