.mapListComponent{
    display: flex;
    flex-direction: column;
    pointer-events: none;
    z-index: 1;
}

.sideListMaps{
    display: flex;
    flex-direction: column;
    pointer-events: auto;
    overflow: auto;
}

.sideListMaps::-webkit-scrollbar{
    display: none;
}

.sideComponentMap{
    display: flex;
    flex-direction: column;
    width: 13em;
    margin-left: 0.5em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    padding-bottom: 0.5em;
    border-style: groove;
    border-radius: 1em;
    border-color: gray;
    background-color: rgb(255, 255, 255);
}

.nameMap{
    flex-direction: row;
    margin-left: 0.1em;
    margin-right: 0.5em;
    background-color: #5b606a;
    color: white;
    align-self: center;
    align-content: center;
    text-align: center;
    border-radius: 0.2em;
}

.pointHeaderMap{
    display: flex;
    flex-direction: row;
    margin-left: 0.5em;
}

.nameMap{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: large;
    font-weight: bold;
}

.imageMap{
    margin-left: 1em;
    display: flex;
    flex-direction: row;
    gap: 2em;
    height: 75%;
}

.imageMap img{
    object-fit: contain;
}

.showPointsButton button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    font-weight: bold;
    border-radius: 0.8em;
    background-color: #4285F4;
    color: white;
    margin-left: 5.5em;
    height: 3em;
    width: 9em;
}
  