.sideListLocations{
    height: 100%;
    width: 30%;
}

.sideComponentLocation{
    margin: 0.5em;
    border-style: groove;
    border-radius: 5%;
    border-color: #4285F4;
    background-color: rgb(255, 255, 255);
    height: 50%;
    width: 18em;
}

.pointHeaderLocation{
    display: flex;
    flex-direction: row;
    margin-left: 1em;
    gap: 2em;
}

.nameLocation{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: large;
    font-weight: bold;
}

.categoryLocation{
    margin-top: 0.6em;
    margin-bottom: 0.5em;
    font-style: italic;
}


.descriptionAndImageLocation{
    margin-left: 1em;
    display: flex;
    flex-direction: row;
    gap: 2em;
    height: 75%;
}

.descriptionAndImageLocation img{
    object-fit: contain;
}

.descriptionAndImageLocation p{
    margin: 0;
}

.coordinates{
    
    margin-left: 1em;
    height: 10%;
    font-size: small;
}

.centerMapButton button{
    font-weight: bold;
    border-radius: 25%;
    background-color: rgb(12, 32, 78);
    color: aliceblue;
    margin-bottom: 0.5em;
    margin-left: 9em;
}

/* Scroll */
.ScrollAreaRootLocations {
    width: 30%;
    overflow: visible;
    --scrollbar-size: 10px;
    z-index: 1;
}
  

.ScrollAreaViewport {
    width: 100%;
    height: 100%;
}
  