.markersListComponent{
    display: flex;
    flex-direction: column;
    pointer-events: none;
    z-index: 1;
}

.sideListLocations {
    display: flex;
    flex-direction: column;
    pointer-events: auto;
    overflow: auto;
}

.sideListLocations::-webkit-scrollbar{
    display: none;
}

.sideComponentLocation{
    display: flex;
    flex-direction: column;
    width: 19em;
    margin-left: 0.5em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    border-style: groove;
    border-radius: 1em;
    border-color: gray;
    background-color: rgb(255, 255, 255);
    pointer-events: all;
}

.pointHeaderLocation{
    display: flex;
    flex-direction: row;
    margin-left: 1em;
    gap: 2em;
}

.nameLocation{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: large;
    font-weight: bold;
    background-color: #5b606a;
    color: white;
    border-radius: 0.2em;
}

.categoryLocation{
    margin-top: 0.6em;
    margin-bottom: 0.5em;
    font-style: italic;
}


.descriptionAndImageLocation{
    margin-left: 1em;
    display: flex;
    flex-direction: row;
    gap: 2em;
    height: 75%;
}

.descriptionAndImageLocation img{
    object-fit: scale-down;
}

.descriptionAndImageLocation p{
    margin: 0;
}

.coordinates{
    height: 20%;
    margin-left: 1em;
    font-size: small;
}

.centerMapButton button{
    font-weight: bold;
    border-radius: 1em;
    background-color: #4285F4;
    color: white;
    height: 3em;
    margin-left: 10.5em;
    margin-bottom: 0.5em;
}
  