ul.reviews {
    list-style: none;
}

.sendReview {
    margin-left: auto;
}

div.reviewsList {
    overflow-y: auto;
    max-height:200px;
}

div.createReview {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 20px;
}